*~
*.o
*.lo
avr.vpi
Makefile.in
Debug/
Release/
simulavr-*.tar.gz
aclocal.m4
autom4te.cache
configure
Makefile
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
compile
ar-lib
ltmain.sh
missing
py-compile
simulavr.ncb
simulavr.sdf
.project
.cproject
.pydevproject
.settings
delivery-check.conf
