# template makefile for timertests

SIMULAVR=../../src/simulavr$(EXEEXT)

test: %(targets)s
	$(PYTHON) -m regress_unittest $^

%(rules)s

%%.vcd: %%.elf $(SIMULAVR)
	$(SIMULAVR) $($(basename $(notdir $@))_SIMOPTS) -f $<

define compile-and-link
$(AVR_GCC) $($(basename $(notdir $@))_CCOPTS) -o $@ $^
endef

include Makefile

# EOF
