# template makefile for external interrupts

test: %(targets)s
	$(PYTHON) -m regress_unittest $^

%(rules)s

define compile-and-link
$(AVR_GCC) $($(basename $(notdir $@))_CCOPTS) -o $@ $^
endef

include Makefile

# EOF
